<div id="infoColumn" align="center">
    <img class= 'profile' src={{profilePicture}} />
    <div>
        <h1 style="color:aliceblue;">{{name}}</h1>
        <h5 style="color:aliceblue;">{{title}}</h5>
    </div>
</div>