<div id='education'>
    <div class='borderBlack'></div>
    <h2>Qualifications</h2>
{{#each education}}
    <h3>{{name}}</h3>
    <div><strong>{{dateStarted}}</strong> - {{dateEnded}}</div>
    <p>{{description}}</p>
    
{{/each}}
</div>