<div id='codeInfo'>
    {{#each code}}
    <div id='codeSKill'>        
        <h3 class="whiteHeader">{{language}}</h3>
        <div class="progress">
            <div
            class="progress-bar bg-success"
            role="progressbar"
            style="width: {{skillLevel}}%"
            ></div>
        </div>
    </div>
    {{/each}}
</div>